html {
  font-family: Microsoft YaHei;
}
#backgroundD {
	position: fixed;
    background-size: cover;
    background-image: url('img/background2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: -998;
}
#mainD {
	position: absolute;
	top: 17%;
	left: 25%;
	width: 800px;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 5px 5px;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	margin-bottom: 50px;
}
#indexD	{
	position: fixed;
	top: 20%;
	right: -195px;
	width: 200px;
	height: 480px;
	background: rgba(0, 0, 0, 0.25);
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: -50px;
	-webkit-transition: 0.6s;
}
#indexD:hover{
	right: 10px;
	-webkit-transition: 0.6s;
}
#indexC {
	font-size: 22px;
	cursor: default;
}
.indexP {
	font-size: 22px;
	color: 	#DDDDDD;
}
.indexP:hover {
	color: white;
}
#gotoD {
	position: absolute;
	top: 22%;
	left: 11%;
	width: 120px;
	height: 230px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 20px;
	border-radius: 10px;
	-webkit-transition: 0.5s;
}
.gotoP {
	cursor: pointer;
	font-size: 18px;
}
.gotoP:hover {
	color: red;
}